.container {
        align-content: center;
        max-width: 120rem;
        margin: 8rem auto;
        background-color: goldenrod;
        box-shadow: var(color-primary);
        min-height: 50rem;
        

}