#steam1{  animation: puff 1.5s linear infinite;}

#steam2{  animation: puffpuff 2.5s linear 1s infinite;}

#steam3{  animation: puffpuffpuff 3s linear 1s infinite;}

svg{
  display:block;
  margin:0 auto;
  animation: floating 5s linear 2s infinite;
}